<%- include('./partials/header') %>
    <h1>Single</h1>
    <%# JSON.stringify(galleryData) %>


        <figure>
            <img src=<%=picture.url%> alt="">
            <figcaption>
                <p>
                    <%=picture.author%>
                </p>
                <p>
                    <%=picture.rating%>
                </p>
            </figcaption>
        </figure>


        <%- include('./partials/footer') %>